<h2>2015 Board Members</h2>
<p>
  Mitzi Moran, President: (970)405.6869 <a href="mailto:mmoran.sunrise@yahoo.com">mmoran.sunrise@yahoo.com</a><br/>
  Mike Prusinowski, Vice President / Tournament Chair: (719)258-0263 <a href="mailto:mike.prusinowski@jamesirwin.org">mike.prusinowski@jamesirwin.org</a><br/>
  Scott Cull, Treasurer: (720)284.9667 <a href="mailto:trailrunnersc@hotmail.com">trailrunnersc@hotmail.com</a><br/>
  Ann Rhee, Scheduler: (303)667.0116 <a href="mailto:acsrhee@comcast.net">acsrhee@comcast.net</a><br/>
  Scott Nugent, Secretary: (303)999-5223 <a href="mailto:vbcoachnuge@gmail.com">vbcoachnuge@gmail.com</a><br/>
  Nancy Holmes, 5A Representative: (719)590-1380 <a href="mailto:bnholm@juno.com">bnholm@juno.com</a><br/>
  TBA, 3A Representative - TBD<br/>
  Bill Cavanaugh, Officials Representative: (303)734-9922 <a href="mailto:BILL41CAVA@msn.com">BILL41CAVA@msn.com</a>
</p>
<% if !@refs.nil? %>
  <hr/>
  <%= raw("<h3>2015 Contact Information</h3>") %>
<div role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Teams</a></li>
      <li role="presentation"><a href="#advocates" aria-controls="advocates" role="tab" data-toggle="tab">Advocates</a></li>
      <li role="presentation"><a href="#coaches" aria-controls="coaches" role="tab" data-toggle="tab">Coaches</a></li>
      <li role="presentation"><a href="#referees" aria-controls="referees" role="tab" data-toggle="tab">Referees</a></li>
    </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="teams">
      <blockquote>
      <% @teams.each do |team| %>
          <p>
            <strong><%= "#{team.name} (#{Location.find(team.location_id).city})" %></strong><br/>
            <% team.members.where("(role = 'Coach')").each do |coach| %>
                Coach: <%= " #{coach.first_name} #{coach.last_name} - #{coach.email}" %><br/>
            <% end %>
            <% team.members.where("(role = 'Advocate')").each do |advocate| %>
                Advocate: <%= " #{advocate.first_name} #{advocate.last_name} - #{advocate.email}" %><br/>
            <% end %>
          </p>
      <% end %>
      </blockquote>
    </div>
    <div role="tabpanel" class="tab-pane" id="advocates">
      <blockquote>
      <table class="table-striped" cellpadding="5px">
        <tr><th>Name</th><th>email</th><th>phone</th></tr>
      <% @advocates.each do |advo| %>
          <tr>
            <td><%= " #{advo.first_name} #{advo.last_name}" %> </td>
            <td><%= "#{advo.email}" %> </td>
            <td><%= "#{advo.phone}" %></td>
          </tr>
      <% end %>
      </table>
      </blockquote>
    </div>
    <div role="tabpanel" class="tab-pane" id="coaches">
      <blockquote>
      <table class="table-striped" cellpadding="5px">
        <tr><th>Name</th><th>email</th><th>phone</th></tr>
      <% @coaches.each do |coach| %>
          <tr>
            <td><%= " #{coach.first_name} #{coach.last_name}" %> </td>
            <td><%= "#{coach.email}" %> </td>
            <td><%= "#{coach.phone}" %></td>
          </tr>
      <% end %>
      </table>
      </blockquote>
    </div>
    <div role="tabpanel" class="tab-pane" id="referees">
      <blockquote>
      <table class="table-striped" cellpadding="5px">
        <tr><th>Name</th><th>email</th><th>phone</th></tr>
      <% @refs.each do |ref| %>
            <tr>
              <td><%= " #{ref.first_name} #{ref.last_name}" %> </td>
              <td><%= "#{ref.email}" %> </td>
              <td><%= "#{ref.phone}" %></td>
            </tr>
        <% end %>
      </table>
      </blockquote>
    </div>
  </div>
</div>



<% end %>