<%= form_for(@match) do |match| %>
    <p>
      <%= match.label :play_date %>
      <%= match.date_select :play_date %><br/>
      <%= match.label :level_id %>
      <%= match.select :level_id,
               options_for_select(@levels.map{|lvl| ["#{lvl.name}", lvl.id]}, match.object.level_id), :prompt => "Select level" %><br/>
      <%= match.label :court_id %>
    <%= match.select :court_id,
               options_for_select(@courts.map{|crt| ["#{crt.location.name} - #{crt.name}", crt.id]}, match.object.court_id), :prompt => "Select a court" %><br/>
      <%= match.label :start_time %>
    <%= match.select :start_time,
           options_for_select(["6pm", "7pm", "8pm"], match.object.start_time), :prompt => "Select a start time" %><br/>
      <%= match.label :home_team_id %>
      <%= match.select :home_team_id,
                       options_for_select(@teams.map{|home| ["#{home.name}", home.id]}, match.object.home_team_id), :prompt => "Select a home team" %><br/>
      <%= match.label :away_team_id %>
      <%= match.select :away_team_id,
                       options_for_select(@teams.map{|away| ["#{away.name}", away.id]}, match.object.away_team_id), :prompt => "Select a away team" %><br/>
      <%= match.label :score_team_id %>
      <%= match.select :score_team_id,
                       options_for_select(@teams.map{|score| ["#{score.name}", score.id]}, match.object.score_team_id), :prompt => "Select a score table team" %><br/>
      <strong>Referee #1 </strong>
      <%= match.select :up_ref_id,
                       options_for_select(@refs.map{|up_ref| ["#{up_ref.first_name} #{up_ref.last_name}", up_ref.id]}, match.object.up_ref_id), :prompt => "Select referee #1" %><br/>
      <strong>Referee #2 </strong>
      <%= match.select :dn_ref_id,
                       options_for_select(@refs.map{|dn_ref| ["#{dn_ref.first_name} #{dn_ref.last_name}", dn_ref.id]}, match.object.dn_ref_id), :prompt => "Select referee #2" %><br/>
    </p>
    <%= match.submit %>
<% end %>
