<div class="coaches">
<% if !@contacts.empty? %>
    <% @contacts.each do |con| %>
      <% if current_admin.try(:active?) %>
          <%= form_tag("/locations/#{params[:id]}/members", method: :delete) do %>
            <%= hidden_field_tag 'member_id', con.id %>
              <button type="submit">
                <i class="fa fa-trash-o fa-fw"></i>
              </button>
            <%= con.first_name %>
            <%= con.last_name %>
              (<%= con.role %>)
          <% end %>
      <%  end %>
    <% end %>
<% else %>
  <p>This location has no contacts.</p>
<% end %>
<%= form_tag("/locations/#{params[:id]}/members", method: :post) do %>
      <button type="submit">
        <i class="fa fa-plus fa-fw"></i>
      </button>
      <%= hidden_field :location_id, :value => params[:id] %>
      <%= select_tag :member_id,
         # options_from_collection_for_select(@members, :id, "#{:first_name :last_name}")
      options_for_select(@members.map{|mbr| ["#{mbr.last_name}, #{mbr.first_name} (#{mbr.role})", mbr.id]}), :prompt => "Select a contact"  %>

<% end %>
</div>
<div class="advocates">
<% if !@courts.empty? %>
    <% court_no = @courts.count %>
    <% @courts.each do |crt| %>
          <% if current_admin.try(:active?) %>
              <%= form_tag("/locations/#{params[:id]}/courts", method: :delete) do %>
                  <%= hidden_field_tag 'court_id', crt.id %>
                  <button type="submit">
                    <i class="fa fa-trash-o fa-fw"></i>
                  </button>
                  <%= crt.name %>
              <% end %>
          <%  end %>
    <% end %>
<% else %>
    <% court_no = @courts.count %>
    <p>This location has no courts.</p>
<% end %>

<%= form_tag("/locations/#{params[:id]}/courts", method: :post) do %>
    <%= hidden_field_tag :court_name, "Court #{court_no + 1}" %>
    <%= submit_tag "Add a court" %>
<% end %>
</div>