<nav class="navbar-xs navbar-custom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-left">
      <li>
        <%= link_to 'Newsletters', newsletters_url %>
      </li>
      <li>
        <%= link_to 'Forms', forms_url %>
      </li>
      <li>
        <%= link_to 'Contacts', contactspage_url %>
      </li>
      <li>
        <%= link_to 'Schedule/Standings', schedule_url %>
      </li>
      <li>
        <%= link_to 'Play Sites', sites_url %>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Submit Results <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to '5A', results5a_url %></li>
          <li><%= link_to '3A', results3a_url %></li>
        </ul>
      </li>
      <% if current_admin.try(:active?) %>
          <li>
            <%= link_to 'News', news_index_path %>
          </li>
          <li>
            <%= link_to 'Members', members_path %>
          </li>
          <li>
            <%= link_to 'Locations', locations_path %>
          </li>
          <li>
            <%= link_to 'Teams', teams_path %>
          </li>
          <li>
            <%= link_to 'Levels', levels_path %>
          </li>
          <li>
            <%= link_to 'Divisions', divisions_path %>
          </li>
          <li>
            <%= link_to 'Matches', matches_path %>
          </li>
      <% end %>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if admin_signed_in? %>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
